<section id="errorSection" >
  <h3>PAGE NOT FOUND</h3>
  <h6>error code : 404</h6>
</section>

<style >
  #errorSection h3{
    font-family: Courier New;
    
    color: #ff0089;
    
    text-shadow: 0 2px 4px #dbe32cd0;
    text-align: center;
    
    padding-top: 40px;
  }
  #errorSection h6{
    margin-top: 50px;
    margin-left: 50px;
    
    color: #004fff;
  }
</style>
