<header >
  <div >
    <img id="mainLogo" src="images/logo.png" alt="Logo">
    <h3 id="mainHedd">Y O U D O W</h3>
    <h6 id="subLogoHedd">online youtube video downloader</h6>
  </div>
</header>
<section id="mainSection">
  <div id="searchPage" class="col-md-6 col-10">
    <label for="url" id="urlLabel">ENTER URL HERE:-</label>
    <input type="text" placeholder="Paste your url..." id="videoUrl">
    <button id="searchBtn" class="fa fa-search"></button>
    <h6 id="errShow" hidden="true">This video could not be found!!<br>error : Server Timeout</h6>
    <div id="videoResultPage" hidden="true">
      <img src="images/logo.png" alt="channel" id="channelPro">
      <img src="images/logo.png" alt="thumbnail" id="thumbnail">
      <label id="channelName">channel</label>
      <label id="duration" >10:05</label>
      <h5 id="videoTitle">This is title</h5>
      <div id="downloadSection">
        
      </div>
      
    </div>
  </div>
</section>
<section id="feedbackSection" name="feedbackSection">
  <p class="text-success">REPORT A ISSUE OR WRITE A FEEDBACK</p>
  
  <div id="formSection" class="col-md-6 col-12">
    <table id="feedbackForm" action="#">
      <label for="name">Enter your name</label>
      <input type="text" id="name" placeholder="" name="name">
      
      <label for="email">Enter your email</label>
      <input type="email" id="email" name="email"></input>
      <br>
      <label for="type">Select message type</label>
      <br>
      <select name="type" id="type">
        <option value="null"></option>
        <option value="ISSUE">REPORT A ISSUE</option>
        <option value="FEEDBACK">FEEDBACK</option>
        <option value="other">OTHER</option>
      </select>
      <label for="message">Write message here</label>
      <textarea id="message" name="message"></textarea>
      <section style="width:80%;height:100px">
      <button id="submit" class="btn btn-success rounded"><i class="fa fa-paper-plane"></i>SEND</button></section>
      </div>
    </table>
  </div>
  
</section>




<div id="downStarter" hidden="true">
  <div >
    <i class="fa fa-times-circle-o" id="downStartClose"></i>
    <div id="downProgress"></div>
    <h6 id="startSts">TRYING TO DOWNLOAD...<br>Please wait...</h6>
    <p id="restartP">IF THE DOWNLOAD HAS NOT STARTED,<button id="restartBtn" class="btn btn-outline-danger">CLICK HERE</button></p>
  </div>
</div>

<div id="progressBack" hidden="true">
  <div id="progress"></div>
</div>

<div id="notifyBar" hidden="true" class="col-10 col-md-5">
  <i class="fa fa-times-circle-o text-danger" style="font-size:18px" id="notfyClose"></i>
  <h6 class="text-success"><i class="fa fa-check-circle" ></i> Your message was sended</h6>
  <p>Hi afsal...<br>Tankyou for your valuable feedback</p>
</div>

<style >
  #feedbackSection p{
    text-align: center;
    
    margin-top: 100px;
    
    font-size: 15px;
    font-family: Courier;
    font-weight: bold;
    
  }
  #notifyBar p{
    text-align: center;
    text-shadow: 5px 0 10px #ea00ff;
    
    font-family: Courier New;
    font-weight: bold;
    
    background: rgba(6,23,53,0.61);
    
    color: white;
    
    border-radius: 5px;
    
  }
  #notfyClose{
    margin: 10px;
    margin-left: 95%;
  }
  #notifyBar{
    position: absolute;
    
    right: 0;
    left: 0;
    top: 20px;
    
    background: rgba(20,15,79,0.285);
    
    margin: auto;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #notifyBar h6{
    font-family: Courier New;
    font-weight: bold;
    
    text-align: center;
  }
  #submit{
    width: 50%;
    
    margin: 25%;
  }
  #message{
    width: 80%;
    
    height: 150px;
    
    background: none;
    
    color: white;
    
    padding: 8px;
    
    font-family: Monospace;
    
    border: solid 1px #0052ff;
    border-radius: 5px;
  }
  #message:focus{
    border-color:#00ff48;
    
    outline: none;
  }
  #formSection{
    width: 80%;
    
    background: rgba(3,4,32,1);
    
    margin: 0 auto;
    
    padding: 30px;
    padding-top: 0px;
    
    border-radius: 7px;
    
    box-shadow: 5px 5px 10px 5px #2eee3453;
  }
  #formSection label{
    color: #ff004d;
    
    font-family: Courier New;
    font-weight: bold;
    
    margin-top: 30px;
    
    text-shadow: 5px 5px 10px #094af3;
    
  }
  #formSection input:focus,select:focus{
    outline: none;
    
    animation: WU 1s;
    
    border-color:#22e44a;
    
    width: 95%;
  }
  @keyframes WU{
    0%{
      width:80%;
      border-color: #ff004d;
    }
    100%{
      width:95%;
      border-color: #22e44a;
    }
  }
  #formSection input{
    color: white;
    
    font-family: Courier New;
    font-weight: bold;
    
    text-align: center;
  }
  #formSection input,select{
    background: none;
    
    border: none;
    
    width: 80%;
    
    border-bottom: solid 1.5px #ff004d;
    border-bottom-left-radius: 10px;
    
    font-family: Courier New;
    font-weight: bolder;
    
    animation: WL 1s;
  }
  
  @keyframes WL{
    0%{
      width:95%;
      border-color: #22e44a;
    }
    100%{
      width:80%;
      border-color: #ff004d;
      
    }
  }
  #channelPro{
    
    width: 50px;
    height: 50px;
    
    margin: 10px;
    margin-top: -20px;
    
    border-radius: 50%;
  }
  #errShow{
    text-align: center;
    
    font-family: Courier New;
    font-weight: bold;
    
    color: red;
  }
  #downStarter{
    position: absolute;
    
    width: 70%;
    
    background: rgba(70,79,101,0.427);
    
    top: 100px;
    bottom:100px;
    right: 0;
    left: 0;
    
    margin: auto;
  }
  #downStartClose{
    position: absolute;
    
    right: 10px;
    top: 10px;
    
    margin: auto;
    
    font-size: 20px;
    
    color: black;
  }
  #restartP{
    text-align: center;
    
    margin-top: 50px;
    
    font-family: Courier New;
    font-weight: bold;
    
    color: white;
  }
  #startSts{
    text-align: center;
    text-shadow: 0 0 5px #00ff2a;
    
    font-family: Courier New;
    font-weight: bold;
    
    color: white;
    
    margin-top: 40px;
  }
  #downProgress{
    width: 80px;
    height: 80px;
    
    margin: 0 auto;
    margin-top: 50px;
    
    border: solid 2px white;
    border-bottom-color: #003eff;
    border-top-color: red;
    border-radius: 50%;
    
    animation: spin 0.5s infinite;
  }
  #mainLogo{
    width: 80px;
    
    position: absolute;
    
    right: 0;
    left: 0;
    
    margin: auto;
    margin-top: 30px;

  }
  #subLogoHedd{
    text-align: center;
    
    font-size: 15px;
    font-family: Courier New;
    font-weight: thin;
    
    margin-top:10px;
    
    color: #0055ff;
  }
  #mainHedd{
    text-align: center;
    
    padding-top: 130px;
    padding-bottom: 5px;
    
    
    color: #ff00e2;
    
    font-family: Courier New;
    font-weight: bolder;
    
    border-bottom: solid 1.5px #0045ff;
    border-radius: 10px;
    
    width: 70%;
    
    margin: 0 auto;
    
    text-shadow: 0 0 7px #d100ff;
  }
  @media(min-width:780px){
    #mainHedd{
      width: 30%;
    }
  }
  #searchPage{
    margin: 0 auto;
    
    box-shadow: 5px 5px 10px 10px #066bf642;
    
    border-radius: 10px;
    
  }
  #urlLabel{
    color: #ff0043;
    
    margin-top: 60px;
    
    font-family: Courier New;
  }
  #videoUrl{
    height: 40px;
    width: 70%;
    
    border-radius: 5px;
    border: solid 1px #2831f2;
    
    transition: 0.7s;
    
    margin-bottom: 50px;
    
  }
  #videoUrl::placeholder{
    color: black;
    
    font-family: Courier New;
    
  }
  #videoUrl:focus,#searchBtn:focus{
    border-color: lightgreen;
    
    outline: none;
    
    box-shadow: 0 0 10px 3px rgba(227,0,255,0.6);
  }
  #searchBtn{
    width: 26%;
    height: 40px;
    
    background: linear-gradient(to right,#2831f2,#640af5);
    
    border: none;
    border-radius: 5px;
    
    color: white;
    
    font-size: 18px;
    
    transition: 0.7s;
    
  }
  #thumbnail{
    width: 90%;
    
    margin: 5%;
    margin-bottom: 0px;
  }
  #duration{
    float: right;
    
    margin-right: 5%;
    margin-top: 10px;
    
    background: #323233ca;
    color: white;
    
    padding: 2px;
    
    border-radius: 3px;
  }
  #videoTitle{
    font-family: Courier New;
    font-weight: bold;
    font-size: 10px;
    
    margin-top: 20px;
    
    color: #12131a;
    
    width: 90%;
    
    word-break: break-word;
    
    text-align: center;
  }
  #channelName{
    font-family: Courier New;
    font-weight: bold;
    
    margin-top: 10px;
    margin-left: 5%;
    
    color: #2bef3e;
    
    width: 70%;
    
  }
  #progressBack{
    position: absolute;
    
    width: 100px;
    height: 100px;
    
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    
    margin: auto;
    
    background: rgba(93,105,116,0.6);
    
    border-radius: 5px;
    
  }
  #progress{
    width: 80%;
    height: 80%;
    
    margin: 0 auto;
    margin-top: 10%;
    
    border: solid 2px #f6f6f6;
    border-radius: 50%;
    border-top-color: #31efe7;
    border-bottom-color: #ff006a;
    
    animation: spin 1s infinite;
    
  }
  @keyframes spin{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  .qulRow{
    padding-top: 10px;
    
    border: none;
    border-bottom: solid 1px #0150e4;
  }
  .qualityLabel{
    margin-left: 10px;
    
    font-family: Courier New;
    font-weight: bold;
  }
  .sizeLabel{
    margin-left: 10%;
    
    font-family: Courier New;
    font-weight: bold;
  }
  .downBtn{
    width: 90px;
    height: 30px;
    
    position: absolute;
    
    right: 10px;
    
    margin: auto;
    margin-top: -10px;
    
    border: none;
    
    background: linear-gradient(to right,#1caf25,#1dba3a);
    
    color: white;
    
    border-radius: 5px;
    
    font-family: Courier New;
    font-weight: bold;
    
  }
  #message::placeholder{
    color: red;
    
    font-family: Monospace;
    
    text-align: center;
    
    padding-top: 55px;
  }
  @media(min-width:780px){
    .sizeLabel{
      margin-left: 35%;
    }
  }
</style>
<script >
  $(document).ready(()=>{
    $("#searchBtn").click(()=>{
      var urlInp=$("#videoUrl").val()
      if(urlInp.length>=1){
        $("#searchPage").css({filter:"blur(5px)"})
        $("#progressBack").removeAttr("hidden").show(200)
        $.ajax({
          type:"GET",
          url:"/search?url="+urlInp,
          dataType:"json",
          timeout:10000,
          success:(res)=>{
            try{
            if(res!="false"){
              $("#videoUrl").css({"border-color":"#2831f2"})
              $("#errShow").hide()
              res.channel=res.channel.replace(/\+/g," ")
              var duMin=String(parseFloat(res.duration)/60).split(".")[0]
              if(String(duMin).length==1){
                duMin="0"+duMin
              }
              var duSec=String(parseFloat(res.duration)-parseFloat(duMin)*60)
              if(duSec.length==1){
                duSec="0"+duSec
              }
              res.title=res.title.replace(/\+/g," ")
              var html=""
              for(var i=0;i<res.download.length;i++){
                
                var dow=res.download
                
                var dowUrl=String([String(res.url),dow[i].itag,res.title])
                console.log(dowUrl)
                sHtml=`<div class="qulRow"><label class="qualityLabel">${dow[i].quality}</label><label class="sizeLabel">${String(dow[i].size).split(".")[0]} MB</label><button class="downBtn" onClick="dowClick('${res.url}**,,##${res.title}**,,##${dow[i].itag}')">DOWNLOAD</button></div><br>`
               /* var sHtml="<div class='qulRow'><label class='qualityLabel'>"+dow[i].quality+"</label><label class='sizeLabel'>"+String(dow[i].size).split(".")[0]+" MB</label><button class='downBtn' value='down' >DOWNLOAD</button></div><br>"*/
                html=html+sHtml
                //alert(dow[i].url)
              }
             // alert(html)
              $("#downloadSection").html(html)
              $("#channelPro").attr("src",res.profile)
              $("#thumbnail").attr("src",res.thumbnail)
              $("#progressBack").hide()
              $("#searchPage").css({filter:"none"})
              $("#channelName").text(res.channel)
              $("#duration").text(duMin+":"+duSec)
              $("#videoTitle").text(res.title)
              $("#videoResultPage").removeAttr("hidden").show()
              
            }else{
              $("#videoUrl").css({"border-color":"red"})
              $("#errShow").removeAttr("hidden").show()
            }
            }catch(err){
              console.log(err)
            }
          },
          error:()=>{
            $("#videoUrl").css({"border-color":"red"})
            $("#errShow").removeAttr("hidden").show()
            $("#videoResultPage").hide()
            $("#searchPage").css({filter:"blur(0px)"})
            $("#progressBack").hide()
          }
        })
      }
    })
    $("#downStartClose").click(()=>{
      $("#downStarter").hide(500)
      $("#searchPage").css({filter:"blur(0px)"})
    })
    $("#submit").click(()=>{
      var mes=$("#message").val()
      if(mes.length==0){
        $("#message").css({"border-color":"red"}).attr("placeholder","ENTER SOMETHING HERE")
      }else{
        $("#feedbackSection").css({filter:'blur(5px)'})
        $("#progressBack").removeAttr("hidden").show(500)
        $("#message").css({"border-color":"#2943e3"}).removeAttr("placeholder")
        var data={
          name:$("#name").val(),
          email:$("#email").val(),
          type:$("#type").val(),
          message:$("#message").val()
        }
        $.ajax({
          type:"POST",
          url:"http://filecompresstelegrambot.herokuapp.com/sendMes",
          dataType:"json",
          data:data,
          timeout:5000,
          success:(res)=>{
             if(res.sts==true){
             $("#feedbackSection").css({filter:"blur(0px)"})
             $("#progressBack").hide()
             $("#notifyBar p").html(`Hi ${data.name.toLowerCase()}...<br>Tankyou for your valuable feedback`)
             $("#notifyBar").removeAttr("hidden").hide().slideDown(1000)
             setTimeout(()=>{
               $("#notifyBar").slideUp(1000)
             },5000)
             setTimeout(()=>{
               $("#notifyBar").slideUp(1000)
               $("#feedbackSection").load(document.URL+"#feedbackSection")
             },5000)
             }
            
          },
          error:(err)=>{
            
           if(err.sts==false ||err.statusText=="timeout"){
            alert("Something went wrong with sending your feedback \nPlease try again...")
            $("#feedbackSection").css("filter","blur(0px)")
              $("#progressBack").hide(500)
           }
          }
        })
      }
    })
    $("#notfyClose").click((e)=>{
      $("#notifyBar").slideUp(1000)
    })
    
  })
  function dowClick(url){
    url=url.split("**,,##")
    console.log(url)
    $(document).ready(()=>{
      $("#searchPage").css({filter:"blur(5px)"})
      $("#downStarter").removeAttr("hidden").show(500)
      
      location.href="/download?url="+url[0]+"&&file_name="+url[1]+"&&itag="+url[2]
    })
  }
  
</script>